.products {
  .product {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;

    .p-badge {
      color: #fff;
      background-color: $primary-color;
      display: inline-block;
      border-radius: 5px;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .price {
      text-align: center;
      color: #000;
      font-size: 1rem;
    }

    .caption {
      text-align: center;
      color: $primary-color;
      font-size: 1rem;
      line-height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 5rem;
    }

    .button-container {
      position: absolute;
      left: 0;
      width: 100%;
      background: #fff;
      padding: 0 18px 18px;
      margin-top: -18px;
      box-shadow: 0 5px 18px rgba(187,194,199,0.36);
      -webkit-box-shadow: 0 5px 18px rgba(187,194,199,0.36);
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 2000;
      opacity: 0;
      top: 90%;
      // top: 100%;
      // opacity: 100;
      .to_cart {
        width: 100%;
        height: auto;
        font-size: 1rem;
        line-height: 2rem;
      }
    }

    &:hover {
      box-shadow: 0 5px 18px rgba(187,194,199,0.36);
      -webkit-box-shadow: 0 5px 18px rgba(187,194,199,0.36);

      .button-container {
        top: 100%;
        opacity: 100;
      }
    }
  }
}

.product-page {
  .product-img {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .product-info {
    padding: 1rem;

    .caption {
      font-size: 1.5rem;
    }

    .availability {
      font-size: 0.6rem;
      color: #000;

      span {
        color: #74b436;
        padding-left: 1rem;
      }
    }

    .price {
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: 100;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .description {
      font-size: 0.6rem;
    }

    .product-order {
      margin-top: 1rem;
      background-color: #fff;
      padding: 0.5rem 1rem;

      .price {
        font-size: 1rem;
      }

      .to_cart {
        text-align: right;

        button {
          height: auto;
          font-size: 1rem;
          line-height: 2rem;
          width: 100%;
        }
      }
    }
  }

  .details {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 1024px) {
  .product-page {
    .details{
      padding-right: 1rem;
    }
  }
}
@media (max-width: 1024px) {
  .product-page {
    .product-info{
      .product-order{
        .to_cart{
          padding-top:1rem;
        }
      }
    }
  }
}
